---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export const  getStaticPaths = ( async () => {
    const books = await getCollection("books")
    return books.map(book => ({
        params: {id: book.slug},
        props: {book}
    }))
}) 

const {book} = Astro.props
const {data} = book
const {title, img} = data

const {Coontent}
---

<Layout title={`${title} - Dev Books`}>
    <div class="flex gap-12">
        <aside>
            <img src={`/img/${img}`} alt={title} class="rounded w-72 h-auto">
            <!-- Enlace para comprar -->
        </aside>

        <main>
            <h1>{title}</h1>
            <div>
                <Content />
            </div>
        </main>
    </div>
</Layout>